<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-button fill="clear" routerLink="/cart" slot="end">
      <ion-icon name="cart" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    @for(product of products; track product.id) {
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="product.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>{{ product.price | currency }}</p>
      </ion-label>
      <ion-button slot="end" (click)="addToCart(product)">Add to Cart</ion-button>
    </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadProducts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>